@model IEnumerable<EcommerceProject.Models.HomeItem>
@{
    ViewBag.Title = "Home Page";
}

<script>
    function AddColorClick() {
        $('<input />').attr({
            type: "color",
            name: "color",
            class: "form-control"
        }).appendTo('#AddColorDiv')

        $('<input /><br/>').attr({
            type: "text",
            name: "number",
            class: "form-control"
        }).appendTo('#AddColorDiv')
    }
</script>

@*@using (Html.BeginForm("SubmitForm", "Home", FormMethod.Post)) {
        <button type="button" onclick="AddColorClick()">Add color</button>
        <div id="AddColorDiv">

        </div>
        <input type="submit"/>
    }*@

@*@using (Html.BeginForm("GetDataHomePage", "Home", FormMethod.Post))
{
    <input type="submit" />
}*@


<div class="row header">
    <div class="col-md-12 headerContent">        
        <div class="headerLeft">
            <span style="color:white;">Smartphone:</span>
        </div>
        <div class="headerRight">
            <a href="@Url.Action("Index", "Products", new { productType = 1})">View more smartphone</a>
        </div>
    </div>
</div>
<div class="row">
    @foreach (var item in ViewBag.HomeItemPhone)
    {
        <div class="col-md-1 col-sm-3 cell">
            <a href="@Url.Action("ViewDetail", "Products", new { productID = item.ProductID })" style="text-decoration:none; color: black;">
                <img width="150" style="display: block; margin:auto;" height="150" src="@item.ProductImage"><br />
                <strong>@item.ProductName</strong><br />
                <span>Screen: @item.Screen</span>
                <span>OS: @item.OS</span>
                <span>CPU: @item.CPU</span>
                <span>RAM: @item.RAM</span>
                <span>Internal storage: @item.InternalStorage</span><br/>
                <strong style="color: red; font-size: large;">$ @item.ProductPrice</strong>
                @*<a class="viewDetail" href="#">View Detail</a>*@
            </a>
        </div>
    }

</div>

<div class="row header" style="margin-top: 2%;">
    <div class="col-md-12 headerContent">
        <div class="headerLeft">
            <span style="color:white;">Tablet:</span>
        </div>
        <div class="headerRight">
            <a href="@Url.Action("Index", "Products", new { productType = 2})">View more tablet</a>
        </div>
    </div>
</div>
<div class="row">
    @foreach (var item in ViewBag.HomeItemTablet)
    {
        <div class="col-md-1 col-sm-3 cell">
            <a href="@Url.Action("ViewDetail", "Products", new { productID = item.ProductID })" style="text-decoration:none; color: black;">
                <img width="150" style="display: block; margin:auto;" height="150" src="@item.ProductImage"><br />
                <strong>@item.ProductName</strong><br />
                <span>Screen: @item.Screen</span>
                <span>OS: @item.OS</span>
                <span>CPU: @item.CPU</span>
                <span>RAM: @item.RAM</span>
                <span>Internal storage: @item.InternalStorage</span><br />
                <strong style="color: red; font-size: large;">$ @item.ProductPrice</strong>
            </a>
        </div>
    }
</div>

<div class="row header" style="margin-top: 2%;">
    <div class="col-md-12 headerContent">
        <div class="headerLeft">
            <span style="color:white;">Laptop:</span>
        </div>
        <div class="headerRight">
            <a href="@Url.Action("Index", "Products", new { productType = 3})">View more laptop</a>
        </div>
    </div>
</div>
<div class="row">
    @foreach (var item in ViewBag.HomeItemLaptop)
    {
        <div class="col-md-1 col-sm-3 cell">
            <a href="@Url.Action("ViewDetail", "Products", new { productID = item.ProductID })" style="text-decoration:none; color: black;">
                <img width="150" style="display: block; margin:auto;" height="150" src="@item.ProductImage"><br />
                <strong>@item.ProductName</strong><br />
                <span>Screen: @item.Screen</span>
                <span>OS: @item.OS</span>
                <span>CPU: @item.CPU</span>
                <span>RAM: @item.RAM</span>
                <span>Internal storage: @item.InternalStorage</span><br />
                <strong style="color: red; font-size: large;">$ @item.ProductPrice</strong>
            </a>
        </div>
    }
</div>